{
    "connection" : {
        "server" : "192.168.1.3",
        "port" : 3306,
        "database" : "softtube",
        "username" : "user",
        "password" : "pwd"
    },
    "backup" ; {
        "path" : "/home/per/backup"
    },
    "update" : {
        "log" : "/home/per/go/src/github.com/hultan/softtube/softtube.update/softtube-update.log",
        "youtube-dl" : "/usr/local/bin",
        "thumbnails" : "/home/per/Videos/youtube/thumbnails"
    },
    "intervals" : {
        "high" : 1800,
        "medium" : 7200,
        "low" : 14400
    }
}
